
@media screen and (min-width: 900px)
  .container__footer
    display: grid
    grid-template-columns: 1fr auto
    align-items: center
    padding: 0.5em

  .footer_social
    display: grid
    grid-auto-flow: column
    justify-content: flex-start
    grid-gap: 1em
