
.footer__social
  display: grid
  grid-auto-flow: column
  justify-content: flex-start
  grid-gap: 0.5em

.container__footer
  display: grid
  grid-template-columns: 1fr
  align-items: center
  padding-left: 0.5em
  padding-right: 0.5em

.footer__logo
  display: grid
  grid-auto-flow: column
  grid-gap: 0.5em
  align-items: center

.footer__info
  display: grid
  grid-auto-flow: column
  font-size: 10px
  font-weight: 300
  grid-template-columns: 1fr 1fr

.footer__copyright
  justify-self: flex-end

@media screen and (min-width: 900px)
  .container__footer
    grid-template-columns: 1fr 2fr 1fr
