
.footer__social
  display: grid
  grid-auto-flow: column
  justify-content: flex-start
  grid-gap: 0.5em

.container__footer
  display: grid
  grid-template-columns: 1fr
  align-items: center
  padding: 0.5em

@media screen and (min-width: 900px)
  .container__footer
    grid-template-columns: 1fr auto
